/*
*	Small devices (tablets, 768px and up)
*	@media (min-width: @screen-sm-min) { ... }
*
*	Medium devices (desktops, 992px and up)
*	@media (min-width: @screen-md-min) { ... }
*
*	Large devices (large desktops, 1200px and up)
*	@media (min-width: @screen-lg-min) { ... }
*/

@media (min-width: 992px) {
	.sidebar {
		position: fixed;
		height: 100%;
	}
	
	.bottom {
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;
	}
}

.sidebar {
	background-color: #383436;
	box-shadow: 2px 2px 5px #999;
}

.top {
	text-align: center;
	top: auto;
	padding: 5% 0%;
	color: white;
}

.content {
	
}

.head {
}

.body {

}

.bottom {
	text-align: center;
	padding-bottom: 5%;
}
